<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="addModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt-sm3" id="addModalLabel">
                    {% block modal-title %} <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Directory {%endblock modal-title %}
                </h5>
                <button type="button" class="btn-close txt-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" enctype="multipart/form-data" {% block action %} action="/add_directory" {% endblock action %} autocomplete="off">
                {% csrf_token %}
                <div class="modal-body">
                    
                    <!-- ===== Block Id (Root) ==== -->
                    {% block Value-id %}{% endblock Value-id %}

                    <div class="mb-2">
                        <label class="form-label txt-sm" style="font-weight: 500;">Link</label>
                        <input type="url" class="form-control form-control-sm txt-sm" name="link" placeholder="Link" required {% block Value-link %}{% endblock Value-link %}>
                    </div>

                    <div class="mb-2">
                        <label class="form-label txt-sm" style="font-weight: 500;">Country</label>
                        <input class="form-control form-control-sm txt-sm" name="country" list="CtrOptions" placeholder="Select Country" required {% block option-country %}{% endblock option-country %}>
                        <datalist id="CtrOptions">
                            {% for country in countries %}
                                <option value="{{ country }}">
                            {% endfor %}
                        </datalist>
                    </div>

                    <div class="mb-2">
                        <label class="form-label txt-sm" style="font-weight: 500;">Period</label>
                        <select class="form-select form-select-sm txt-sm" name="periodic" required>
                            {% block option-periodic %}
                            <option value="" hidden>Select the time period</option>
                            {% endblock option-periodic %}
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Monthly</option>
                            <option>Quarterly</option>
                            <option>Annually</option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label class="form-label txt-sm" style="font-weight: 500;">Topics</label>
                        <select class="form-select form-select-sm txt-sm" name="topics" required>
                            {% block option-topics %}
                            <option value="" hidden>Select the topics</option>
                            {% endblock option-topics %}
                            <option>National Accounts</option>
                            <option>Production, Shipment, Inventories & Orders</option>
                            <option>Land, Construction & Properties</option>
                            <option>Government Revenues & Expenditures</option>
                            <option>Domestic & Foreign Debts</option>
                            <option>Demography & Labour Market</option>
                            <option>Wholesale & Retail Trades</option>
                            <option>Inflation</option>
                            <option>Balance of Payments</option>
                            <option>Foreign Trade & Investment</option>
                            <option>Money & Banking</option>
                            <option>Interest & Foreign Exchange Rates</option>
                            <option>Household Incomes & Expenditures</option>
                            <option>Business & Corporation Activities</option>
                            <option>Energy</option>
                            <option>Automobiles</option>
                            <option>Tourism</option>
                            <option>Economic & Business Surveys</option>
                            <option>Transportation & Communication</option>
                            <option>Daily Statistics</option>
                            <option>Financial Markets</option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label class="form-label txt-sm" style="font-weight: 500;">Latest Release</label>
                        <input type="date" class="form-control form-control-sm txt-sm" name="last_update" maxlength="10" placeholder="Last update" required {% block Value-last_update %}{% endblock Value-last_update %}>
                    </div>
                    
                    <div class="mb-2">
                        <label class="form-label txt-sm" style="font-weight: 500;">Next Release</label>
                        <input type="date" class="form-control form-control-sm txt-sm" name="next_release" maxlength="10" placeholder="Next release" required {% block Value-next_release %}{% endblock Value-next_release %}>
                    </div>

                    <div class="mb-2">
                        <label class="form-label txt-sm" style="font-weight: 500;">Sources</label>
                        <input type="file" class="form-control form-control-sm txt-sm" name="getfile" placeholder="File" {% block getfile %}{% endblock getfile %}>
                        <a href="{% url 'format' %}" target="_blank" style="color: red; font-size: 1.7ch; text-decoration: underline;"> <span class="txt-sm">Format File</span></a>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label txt-sm" style="font-weight: 500;">Comments</label>
                        <textarea class="form-control txt-sm" name="comments" rows="7" maxlength="1000" placeholder="Comment is optional...">{% block comments %}{% endblock comments %}</textarea>
                    </div>

                    <div class="mt-4" style="width: 100%;">
                        <button type="submit" class="btn btn-secondary mb-3 txt-sm">
                        {% block btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add Directory {% endblock btn-action %}
                        </button>
                        <button type="reset" class="btn btn-outline-dark mb-3 ms-1 txt-sm" style="width: 50px;" title="Reset">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-outline-dark mb-3 ms-1 txt-sm" style="width: 50px;" title="Close">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>