{% extends 'add.html' %}

<!--- Modal ID --->
{% block modal-id %} id="editModal{{ directory.pk }}" {% endblock modal-id %}
<!--- Modal Title --->
{% block modal-title %} <i class="fas fa-edit"></i>&nbsp;&nbsp; Edit Directory {%endblock modal-title %}
<!--- Form Action --->
{% block action %} action="/edit_directory" {% endblock action %}
<!--- Button Action --->
{% block btn-action %}<i class="fas fa-server"></i>&nbsp;&nbsp; Save Changes {% endblock btn-action %}

<!-- ================== All <Inputs> ================== -->
<!-- ID -->
{% block Value-id %}
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light side-label txt-sm"><i class="fas fa-key"></i></span>
    <input type="text" class="form-control txt-sm" name="id" value="{{ directory.id }}" readonly>
</div>
{% endblock Value-id %}

<!-- Link -->
{% block Value-link %} value="{{ directory.link }}" {% endblock Value-link %}

<!-- country -->
{% block option-country %}
value="{{ directory.country }}"
{% endblock option-country %}

<!-- periodic -->
{% block option-periodic %}
<option style="background-color: #d3d3d3; counter-reset: #111;">{{ directory.periodic }}</option>
{% endblock option-periodic %}

<!-- topics -->
{% block option-topics %}
<option style="background-color: #d3d3d3; counter-reset: #111;">{{ directory.topics }}</option>
{% endblock option-topics %}

<!-- last_update -->
{% block Value-last_update %} value="{{ directory.last_update }}" {% endblock Value-last_update %}

<!-- next_release -->
{% block Value-next_release %} value="{{ directory.next_release }}" {% endblock Value-next_release %}

<!-- getfile -->
{% block getfile %} {{ directory.getfile }} {% endblock getfile %}

<!-- comments -->
{% block comments %}{{ directory.comments }}{% endblock comments %}


